@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

li {
  color: #0074d9;
  display: inline-block;
}

a:hover {
  color: white;
  background-color: #0074d9;

}

nav {
  background-color: #e2e2e2;
}

@media only screen and (min-width:25em ) {
  ul {
    text-align: center;
  }

  }

@media only screen and (min-width:38em ) {
  ul {
    text-align: left;
  }

  }
